
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Saira+Extra+Condensed&display=swap');


:root{
    --premery-color: #2563EB;
    --secondary-color: #581C87BF;
    --tertialy-color: #0F172A;
    --font: 'Roboto', sans-serif;;
     --color:#ffffff;
     --color:#000000;
     --color: #94A3B8;

     --font-weith: 800 
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    font-size: 10px;

}
body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color:aquamarine;
    width: 100%;
    height: 5rem;
    
}
ul{
    text-align: center;
    list-style: none;
    
}
h1{
    font-family: var(--font);
    font-weight: 700;
    font-size:3.2rem;
    color: #0F172A; 
    padding-left: 4rem;
}
.at{
    display: flex;
    gap: 8rem;
    padding-left: 26rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--font);
    color: #0F172A;
    padding-top: 1.5rem;
    text-decoration: none;
   
}
.menu{
    width: 1rem;
    height: 1rem;
}
.but{
    padding-left: 5rem;
    width: 10rem;
    height: 5rem;
    color: #2563EB;
    padding: 0 1rem 0rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #ffffff;
}
.bu{
    background-color: #2563EB;
    color: #ffffff;
    border-radius: 0.7rem;
    height: 3.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 1rem 0rem 2rem;
    
}
.f1{
    width: 1rem;
    height: 1rem;
}
.sec1{
    display: flex;
    background-color: cadetblue;
    width: 100%;
    height: 46rem;
    gap: 4rem;
    padding-top: 2rem;
    
}
.cadre1{
   
    flex: 1;
    background-color:crimson;
    width: 40%;
    height: 90%;
    margin-left: 3rem;
    
}
.cadre2{
    flex: 1;
    background-color: blueviolet;
    width: 40%;
    height: 45rem;
    margin-right: 3rem;
    border-radius: 1.5rem;



}
h2{
    padding-top: 4rem;
    font-family: var(--font);
    font-size: 5rem;
    font-weight:800;
    padding-left: 2rem;
}
.p1{
    font-size:2rem;
    font-family:var(--font);
    font-weight:500;
    padding-top: 2.5rem;
    padding-left: 2rem;
    
}
article{
    display:flex;
    gap: 2rem;
    padding-top: 4rem;
}
table tr td {
    display: flex;
    border: solid 0.2rem;
    width: 28rem;
    height: 2.5rem;
    border-color: rgb(191, 189, 189);

}
h3{
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    font-weight: 500;
    font-family: var(--font);
   
   
}
.i2{
    padding-left: 2rem;
}
.bu1{
    background-color: #2563EB;
    color: #ffffff;
    width: 15rem;
    font: size 1.5em;
    height: 3rem;
    padding-top: 0.5rem;
    border-radius: 0.5rem; 
}
.i3{
    width: 46rem;
    height: 5rem;
    padding-top: 3rem;
    padding-left: 2rem;
}
.area{
    display: flex;
    background-color: chartreuse;
    width: 100%;
    height: 5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
.ca{
    background: url(./image/vi.svg) center top/ cover;
    width: 90%;
    height: 90%;
    padding-left: 6.3rem;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.im4{
    width: 1rem;
    height: 1rem;
    padding-top: 2rem;
    padding-left: 0.7rem;
}
input{
    margin: 2rem;
    width: 10rem;
    height: 2rem;
}


