
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Saira+Extra+Condensed&display=swap');


:root{
    --premery-color: #2563EB;
    --secondary-color: #581C87BF;
    --tertialy-color: #0F172A;
    --font: 'Roboto', sans-serif;;
     --color:#ffffff;
     --color:#000000;
     --color: #94A3B8;

     --font-weith: 800 
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    font-size: 10px;

}
body{
    
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color:aquamarine;
    width: 100%;
    height: 5rem;
    
}
ul{
    text-align: center;
    list-style: none;
    
}
h1{
    font-family: var(--font);
    font-weight: 700;
    font-size:3.2rem;
    color: #0F172A; 
    padding-left: 4rem;
}
.at{
    display: flex;
    gap: 8rem;
    padding-left: 26rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--font);
    color: #0F172A;
    padding-top: 1.5rem;
    text-decoration: none;
   
}
.menu{
    width: 1rem;
    height: 1rem;
}
.but{
    padding-left: 5rem;
    width: 10rem;
    height: 5rem;
    color: #2563EB;
    padding: 0 1rem 0rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #ffffff;
}
.bu{
    background-color: #2563EB;
    color: #ffffff;
    border-radius: 0.7rem;
    height: 3.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 1rem 0rem 2rem;
    
}
.f1{
    width: 1rem;
    height: 1rem;
}
.sec1{
    display: flex;
    background-color: cadetblue;
    width: 100%;
    height: 46rem;
    gap: 4rem;
    padding-top: 2rem;
    
}
.cadre1{
   
    flex: 1;
    background-color:crimson;
    width: 40%;
    height: 90%;
    margin-left: 3rem;
    
}
.cadre2{
    flex: 1;
    background-color: blueviolet;
    width: 40%;
    height: 45rem;
    margin-right: 3rem;
    border-radius: 1.5rem;



}
h2{
    padding-top: 4rem;
    font-family: var(--font);
    font-size: 5rem;
    font-weight:800;
    padding-left: 2rem;
}
.p1{
    font-size:2rem;
    font-family:var(--font);
    font-weight:500;
    padding-top: 2.5rem;
    padding-left: 2rem;
    
}
article{
    display:flex;
    gap: 2rem;
    padding-top: 4rem;
}
table tr td {
    display: flex;
    border: solid 0.2rem;
    width: 28rem;
    height: 2.5rem;
    border-color: rgb(191, 189, 189);

}
h3{
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    font-weight: 500;
    font-family: var(--font);
   
   
}
.i2{
    padding-left: 2rem;
}
.bu1{
    background-color: #2563EB;
    color: #ffffff;
    width: 15rem;
    font: size 1.5em;
    height: 3rem;
    padding-top: 0.5rem;
    border-radius: 0.5rem; 
}
.i3{
    width: 46rem;
    height: 5rem;
    padding-top: 3rem;
    padding-left: 2rem;
}
.area{
    display: flex;
    background-color: chartreuse;
    width: 100%;
    height: 5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
.ca{
    background: url(./image/vi.svg) center top/ cover;
    width: 90%;
    height: 90%;
    padding-left: 6.3rem;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.im4{
    width: 1rem;
    height: 1rem;
    padding-top: 2rem;
    padding-left: 0.7rem;
}
input{
    margin: 2rem;
    width: 10rem;
    height: 2rem;
    text-align: center;
    padding-left: 5rem;
}
.b1{
    width: 2rem;
    padding-left:6rem ;
}
.b2{
    width: 2rem;
   
    padding-left:30rem ;
}
.sec2{
    display: flex;
    justify-content: center;
    background-color:yellow;
    width:100%;
    height:48rem;
    gap: 3rem;
}
.cadre3{
    display: flex;
    background-color: blueviolet;
    width: 45%;
    height: 40rem;
}
.im1{
    width: 45%;
    height: 40rem;
    padding-left: 1.9rem;

    
}
.im2{
    padding-right: 2rem;
    width: auto;
    height:80%;
}
.im3{
    padding-top: 4rem;
    width: 35%;
    height: 33rem;

}
.cadre4{
    background-color: rgb(31, 58, 232);
    width: 45%;
    height: 40rem;
}
h4{
    font-family: var(--font);
    font-weight: 800;
    font-size: 5rem;
    color: #0F172A;
    padding-left: 4rem;
    padding-top: 4rem;

}
p{
    padding-top: 2rem;
    font-family: var(--font);
    font-weight: 500;
    font-size: 1.8rem;
    color: #0F172A;
    padding-left:4rem ;
}
span{
    font-family: var(--font);
    font-weight: 500;
    font-size: 2.7rem;
    color: #2563EB;
}
h5{
    padding-left: 4rem;
    padding-top: 4rem;
}
.i5{
    width: 2rem;
    height: 1.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
.sec3{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    width: 100%;
    height: 40rem;
    gap: 3rem;
}
.cadre5{
    background-color: burlywood;
    width: 45%;
    height: 30rem;
}
h6{
    
    font-family: var(--font);
    font-weight: 800;
    font-size: 5rem;
    color: #0F172A;
    padding-left: 4rem;
    padding-top: 3rem;
    
}
.p3{
    font-family: var(--font);
    font-weight: 500;
    color: #0F172A;
    padding-right:4rem ;
    font-size: 1.3rem; 
}
.p4{
    color: #2563EB;
    font-size: 2rem;
    font-family: var(--font);
    font-weight: 500;
}
.i7{
    padding-left: 1rem;
    width: 2rem;
    height: 1.5rem;
}

.cadre6{
    background-color: brown;
    width: 45%;
    height: 30rem;
}
.i8{

    width: auto;
    height:30rem;
    padding-left: 15rem;
}
.sec4{
    display: flex;
    justify-content: center;
    background-image: url(./image/mongonfier.jpeg);
    width: 90%;
    border-radius: 2rem;
    padding-left: 5rem;
    margin: 5rem;
    background-size: cover;
    height: 35rem;
    gap: 2rem;
}
.cadre8{
    background-color: aquamarine;
    width: 40%;
    height: 30rem;
    
}
.cadre7{
    background-color: rgb(0, 8, 5);
    width: 45%;
    height: 30rem;
    
}
.p6{
    color: #ffffff;
    font-family: var(--font);
    font-weight: 800;
    font-size: 5rem;
    padding-left: 4rem;
    padding-top: 3rem;
}
.p7{
    
    font-family: var(--font);
    font-weight: 500;
    color: #ffffff;
    padding-right:4rem ;
    font-size: 1.3rem; 
}
.p8{
    color:#ffffff;
    font-size: 2rem;
    font-family: var(--font);
    font-weight: 500;
}
.i9{
    
    padding-left: 1rem;
    width: 2rem;
    height: 1.5rem;
}
.sec5{ 
    
    display: flex;
    justify-content: center;
    background-color: rgb(255, 195, 127);
    width: 100%;
    height: 40rem;
    gap: 5rem;
}
.cadre10{
    background-color: #94A3B8;
    width: 45%;
    height: 30rem;
    gap: 3rem;
}
.i11{

    color: #0F172A;
    font-family: var(--font);
    font-weight: 800;
    font-size: 5rem;
    padding-left: 4rem;
    padding-top: 3rem;
}
.ge{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;    
}
.p12{
    
    color: #2563EB;
    font-size: 2rem;
    font-family: var(--font);
    font-weight: 500;
}
.ve{
    padding-left: 1rem;
    width: 2rem;
    height: 1.5rem;
}
.ico{
    border: solid 0.2rem;
    font-family: var(--font);
    font-size: 2rem;
    font-weight: 700;
    width: 28%;
    height: 3rem;
    padding-top: 1rem;
    
}
.i10{
    
    font-family: var(--font);
    font-weight: 500;
    color: #0F172A;
    padding-right:4rem ;
    font-size: 1.3rem; 
}
.cadre11{
    background-color: url(image/élève.svg);
    width: auto;
    height: 30rem;
}
.v1{
    width: 120%;
    height: 33rem;
}


